body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    padding: 100px 25px;
    margin-bottom: 2rem;
    background-color: #f4511e;
    border-radius: .3rem;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
}

.container-fluid {
    padding: 60px 50px;
}

/* navbar styling */
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li a.active {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-expand-lg .navbar-toggler {
    border-color: transparent;
    color: #fff !important;
}

/* form setting */
.col-md-7 {
    margin-bottom: 30px;
}

/* list group styling */
.list-group a:hover {
    background-color: #3535f0;
    color: white;
}
